@import "./mixins.scss";
// variables
$path-images: "./assets";
$color-main: #003152;
$color-white: #fff;
$color-black: #000;
$color-grey: #cdcdcd;
$color-grey-light: #efefef;
$color-green: #226f45;
$color-blue: #2b5796;
$color-yellow: amber;
$color-red: #d04526;
$main-font: "Ubuntu Mono", monospace;
$main-radius: 10px;
$main-shadow: 0 0 5px 0 rgba(100, 100, 100, .4);